.zm-header-search {
    .el-date-editor--daterange {
        max-width: 270px !important;
    }
    .el-range-input {
        max-width: 90px !important;
    }
    .el-range-separator {
        width: auto !important;
    }
    .new-btn {}
}
