//tip样式统一
.tip-style {
  .el-icon-question {
    position: inherit !important;
    vertical-align: text-bottom !important;
    right: 0 !important;
    top: 1px !important;
    font-size: 20px !important;
    // color: #d2d2d2 !important;
    color: $theme-primary !important;
  }
}
