{
    "printWidth": 100,
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "auto",
    "useTabs": false,  
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "no-console":"off",
    "proseWrap":"preserve"
  }
